---
---

@import "{{ site.theme }}";

header {
  display: none;
}

html { 
  background: url(images/twositeblockade-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
