---
---

@import "{{ site.theme }}";

body { 
  background: url({{ site.baseurl }}/assets/images/darkmanybody.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper {
  background-color: #000C;
}

