---
---

@import "{{ site.theme }}";

.wrapper { 
  background: url({{ site.baseurl }}/assets/images/twositeblockade-bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
